:root {
  --base-color: rgb(251,252,255);
  --contrast-light-color: rgb(230,239,246);
  --contrast-strong-color: rgb(63,72,80);
  --highlight-light-color: rgb(208,228,255);
  --highlight-strong-color: rgb(4,100,139);
  --hover-blue-color: rgb(189,216,227);
  --hover-gray-color: rgb(201,210,215);
  --hover-add-color: rgb(183,203,230);
  font-family: sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.favorite > img,
.list > img,
.swap > img,
.more > img,
.add > img {
  height: 1.6rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

body,
.title,
.nav {
  background-color: var(--base-color);
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 300;
}

.title > p {
  margin: 2.75rem 0 1.5rem;
}

.nav {
  display: flex;
  padding: 0 1rem;
  overflow: auto;
  white-space: nowrap;
  border-bottom: 0.15rem solid var(--contrast-light-color);
}

.nav > button {
  padding: 0.7rem 1.2rem;
  border: none;
  border-bottom: 0.2rem solid var(--base-color);
  background-color: var(--base-color);
  color: var(--contrast-strong-color);
  font-size: 1rem;
  font-weight: 500;
}

.nav > button:hover {
  background-color: var(--hover-blue-color);
  border-bottom: 0.2rem solid var(--hover-blue-color);
}

.nav > button.active {
  border-bottom: 0.2rem solid var(--highlight-strong-color);
  color: var(--highlight-strong-color);
}

.main {
  flex-grow: 1;
  padding: 0 0.8rem 0.8rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--contrast-light-color);
}

.footer-buttons {
  display: flex;
  padding: 0.9rem 0.3rem;
}

.footer-add-button {
  padding: 0.9rem 1.2rem;
}

.footer-buttons > button {
  background-color: var(--contrast-light-color);
}

.footer-add-button > button {
  background-color: var(--highlight-light-color)
}

.footer-buttons > button,
.footer-add-button > button {
  border-radius: 0.9rem;
  padding: 1.1rem;
  border: none;
}

.footer-buttons > button:hover {
  background-color: var(--hover-gray-color);
}

.footer-add-button > button:hover {
  background-color: var(--hover-add-color);
}